@import "compass/css3";

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background:
            linear-gradient(45deg, hsla(150, 96%, 45%, 1) 0%, hsla(352, 96%, 45%, 0) 70%),
            linear-gradient(135deg, hsla(250, 95%, 42%, 1) 10%, hsla(253, 95%, 42%, 0) 80%),
            linear-gradient(225deg, hsla(270, 91%, 45%, 1) 10%, hsla(179, 91%, 45%, 0) 80%),
            linear-gradient(315deg, hsla(320, 96%, 49%, 1) 100%, hsla(119, 96%, 49%, 0) 70%);
}

.btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.15);
    opacity: 0;
    z-index: -10;
    cursor: pointer;
    transition: opacity 1s, z-index 0.3s, transform 1s;
    transform: translateX(0);
}

.menu {
    background-image: url(icons/menu.png);
}

.instagram {
    background-image: url(icons/instagram-social-network-logo-of-photo-camera.png);
}

.facebook {
    background-image: url(icons/facebook-letter-logo.png)
}

.twitter {
background-image: url(icons/twitter-logo-silhouette.png)
}

.linkedin {
    background-image: url(icons/linkedin-logo.png)
}

.google-plus {
    background-image: url(icons/google-plus-logo.png)
}

.github {
    background-image: url(icons/github-logo.png)
}

.youtube {
    background-image: url(icons/youtube.png)
}

.snapchat {
    background-image: url(icons/snapchat.png)
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.menu {
    width: 4em;
    height: 4em;
    background-position:center;
    position: fixed;
    top: 47%;
    left: 48%;
}

.fa {
@extend .absolute-center;
    font-size: 3em;
    transition: color 0.3s;
}

&:hover .fa {
     color: rgba(255,255,255,0.7);
 }

